{% extends "loginbase.html" %}
{% load static %}

{% block title %}Reset Link Sent{% endblock %}

{% block content %}
<div class="main-wrapper login-body">
    <div class="login-wrapper">
        <div class="container">
            <div class="loginbox">
                <div class="login-left">
                    <img class="img-fluid" src="{% static '/img/logo-white.png' %}" alt="Logo">
                </div>
                <div class="login-right">
                    <div class="login-right-wrap">
                        <h1>Reset Link Sent</h1>
                        <p class="account-subtitle">We have sent a password reset link to your email.</p>
                        <div class="text-center">
                            <a href="{% url 'login' %}" class="btn btn-primary w-100">Back to Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
