{% extends "loginbase.html" %}
{% load static %}
{% block title %}Reset Password{% endblock %}

{% block content %}
<div class="main-wrapper login-body">
    <div class="login-wrapper">
        <div class="container">
            <div class="loginbox">
                <div class="login-left">
                    <img class="img-fluid" src="{% static '/img/logo-white.png' %}" alt="Logo">
                </div>
                <div class="login-right">
                    <div class="login-right-wrap">
                        <h1>Reset Password</h1>
                        <p class="account-subtitle">Enter your email to reset your password</p>
                        <form method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                <input class="form-control" type="email" name="email" placeholder="Email" required>
                            </div>
                            <div class="mb-3">
                                <button class="btn btn-primary w-100" type="submit">Send Reset Link</button>
                            </div>
                        </form>
                        <div class="text-center">
                            <a href="{% url 'login' %}">Back to Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
