{% extends "base.html" %}
{% block title %}Profile{% endblock title %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="profile-header">
            <div class="row align-items-center">
                <div class="col-auto profile-image">
                    <a href="#">
                        <i class="fa fa-user-circle" style="font-size: 50px;"></i>
                    </a>
                </div>
                <div class="col ml-md-n2 profile-user-info">
                    <h4 class="user-name mb-0">{{ user.get_full_name }}</h4>
                    <h6 class="text-muted">{{ user.email }}</h6>
                    <div class="user-location">
                        {% if user.is_doctor %}
                             {{ profile.specialization }}
                        {% else %}
                             Secretary
                        {% endif %}
                    </div>                    
                </div>
                <div class="col-auto profile-btn">
                    <a href="{% url 'edit_profile' %}" class="btn btn-primary">
                        Edit
                    </a>
                </div>
            </div>
        </div>
        <div class="profile-menu">
            <ul class="nav nav-tabs nav-tabs-solid">
                <li class="nav-item">
                    <a class="nav-link active" data-bs-toggle="tab" href="#per_details_tab">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#password_tab">Password</a>
                </li>
            </ul>
        </div>	
        <div class="tab-content profile-tab-cont">
            
            <!-- Personal Details Tab -->
            <div class="tab-pane fade show active" id="per_details_tab">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title d-flex justify-content-between">
                                    <span>Personal Details</span> 
                                    <a class="edit-link" href="{% url 'edit_profile' %}"><i class="fa fa-edit me-1"></i>Edit</a>
                                </h5>
                                <div class="row">
                                    <p class="col-sm-2 text-muted">Name</p>
                                    <p class="col-sm-10">{{ user.get_full_name }}</p>
                                </div>
                                <div class="row">
                                    <p class="col-sm-2 text-muted">Email</p>
                                    <p class="col-sm-10">{{ user.email }}</p>
                                </div>
                                {% if user.is_doctor %}
                                <div class="row">
                                    <p class="col-sm-2 text-muted">Specialization</p>
                                    <p class="col-sm-10">{{ profile.specialization }}</p>
                                </div>
                                {% endif %}
                                {% if user.is_secretary %}
                                <div class="row">
                                    <p class="col-sm-2 text-muted">Doctor</p>
                                    <p class="col-sm-10">{{ profile.doctor.user.get_full_name }}</p>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Personal Details Tab -->

            <!-- Change Password Tab -->
            <div id="password_tab" class="tab-pane fade">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Change Password</h5>
                        <div class="row">
                            <div class="col-md-10 col-lg-6">
                                <form method="post" action="{% url 'password_reset' %}">
                                    {% csrf_token %}
                                    <div class="mb-3">
                                        <label class="mb-2">Old Password</label>
                                        <input type="password" name="old_password" class="form-control">
                                    </div>
                                    <div class="mb-3">
                                        <label class="mb-2">New Password</label>
                                        <input type="password" name="new_password1" class="form-control">
                                    </div>
                                    <div class="mb-3">
                                        <label class="mb-2">Confirm Password</label>
                                        <input type="password" name="new_password2" class="form-control">
                                    </div>
                                    <button class="btn btn-primary" type="submit">Save Changes</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Change Password Tab -->

        </div>
    </div>
</div>

{% endblock content %}