{% extends "base.html" %} 
{% comment %} <h2>Sekreterlerim</h2>
<table>
  <thead>
    <tr>
      <th>Adı</th>
      <th>Email</th>
      <th>İşlemler</th>
    </tr>
  </thead>
  <tbody>
    {% for secretary in secretaries %}
    <tr>
      <td>{{ secretary.user.email }}</td>
      <td>
        <a href="{% url 'edit_secretary' secretary.id %}">Düzenle</a> |
        <a href="{% url 'delete_secretary' secretary.id %}">Sil</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<a href="{% url 'add_secretary' %}">Yeni Sekreter Ekle</a>
<a href="{% url 'dashboard' %}">Geri Dön</a> {% endcomment %}


{% block title %}Sekreterlerim{% endblock title %} 
{%block content %}
{% load static %}
<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <table class="datatable table table-hover table-center mb-0">
            <thead>
              <tr>
                <th>Name</th>
                <th>E-mail</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for secretary in secretaries %}
              <tr>
                <td>{{ secretary.user.email }}</td>
                <td>
                  <a href="{% url 'edit_secretary' secretary.id %}">Düzenle</a>
                  |
                  <a href="{% url 'delete_secretary' secretary.id %}">Sil</a>
                </td>
              </tr>
              {% endfor %}             
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
